<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input) ="onChangeLength($event.target.value)"/>
</div>

<div>
  <label>User Letters</label>
  <input (change)="onChangeUserLetter()" type="checkbox">
</div>

<div>
  <label>User Nummbers</label>
  <input (change)="onChangeUserNumbers()" type="checkbox">
</div>

<div>
  <label>User Symbols</label>
  <input (change)="onChangeUserSymbols()" type="checkbox">
</div>

<button (click)="onButtonClick()">Generator</button>

<div>
  <label>Your Password</label>
  <input [value] = 'password'>
</div>
